.videoCard {
    width: 30vmax;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5vmax;
}

.videoCard a {
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.096);
}


.videoCard:hover a {
    padding: 2.5vmax;
    border: none;
    border-radius: 100%;
    background-color: #ffffff83;
    color: #fff;
}

.videoCard p {
    color: #fff;
    margin: 1vmax;
}

.videoCard a svg {
    fill: #fff;
}